body, html {
    margin-left: 10px;
    width: 315px;
    height: 175px;
    background-color: #FFF;
}

@font-face {
 font-family: 'Publica Play Regular';
 font-style: normal;
 font-weight: normal;
 src: url('../fonts/FaceType-PublicaPlay-Regular.woff') format('woff');
}

h1 {
 color: #616366;
 font-family: 'Publica Play Regular';
 font-weight: normal;
 margin-bottom: -28px;
 padding-bottom: 32px;
 padding-top: 10px;
 background: url('../img/browserwatcher-60.png') no-repeat left 8em top 0em;
}